{% extends "network/layout.html" %} 
{% load static %}
<link rel="icon" href="data:;base64,iVBORw0KGgo=" />

{% block body %} 
  {% if user.is_authenticated %}
  <h1>Profile Page!</h1>
  <div>
    {% if pageUser != request.user %}
    <div>
      <h4>{{ pageUser }}</h4>
    </div>

    <form method="POST" action="{% url 'profile' pageUser.username %}">
      {% csrf_token %}
      {% if request.user in pageUser.follower.all %}
      <input type="submit" value="Unfollow" name="unfollow_btn">
      {% else %}
      <input type="submit" value="Follow" name="follow_btn">
      {% endif %}
    </form>

    <div>Followings: {{ pageUser.following.all | length }}</div>
    <div>Followers: {{ pageUser.follower.all | length }}</div>

    {% else %}

    <div>
      <h4>{{ request.user }}</h4>
    </div>

    <div>
      <div>Followings: {{ request.user.following.all | length }}</div>
      <div>Followers: {{ request.user.follower.all | length }}</div>
    </div>
    {% endif %}
  </div>

  <h5>All of {{ pageUser }}'s posts</h5>

    {% for post in posts %}
    <div class="post_container">
      <div class="post_wrapper">
        <h5>POST No.{{ post.id }}</h5>

        <div class="author_wrapper">
          <a href="{% url 'profile' post.user %}">
            <div>Author: {{ post.user.username }}</div>
          </a>

          {% if post.user.username == user.username %}
          <div class="post_button_box">
            <button 
            type="submit" 
            class="post_page_btn post_edit_btn" 
            name="comment_edit"
            data-postid="{{ post.id }}"
            >
              Edit
            </button><span class="post_button_divider"> | </span>
            <button type="button" id="post_delete" class="post_page_btn post_del_btn" data-bs-toggle="modal" data-bs-target="#post_modal">Delete</button>
          </div>
          {% endif %}
        </div>
        <div>Date: {{ post.created_time }}</div>
        <div class="like">❤ {{ post.like.count}}</div>
        Content:<div class="post_content_div{{ post.id }}"> {{ post.content }}</div>
      </div>
    </div>

     <!--modal-->
     <div class="modal fade" id="post_modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Delete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Do you really want to delete your post?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form method="POST" action="{% url 'removePost' post.id %}">
              {% csrf_token %}
              <button type="submit" name="post_delete" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} 

    {% if posts.paginator.num_pages > 1 %}
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if posts.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">First</a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ posts.previous_page_number }}"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {%else%}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item current-item">
            <span class="current page-link">
              Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>
          </li>

          {% if posts.has_next %}
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ posts.next_page_number }}"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.paginator.num_pages }}">
              Last
            </a>
          </li>
          {%else%}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  {% endif %} 
{% endblock %}

{% block script %}
{% if pageUser != request.user %}
    <script src="{% static 'network/javascript/follow.js' %}"></script>
{% endif %}
{% if user.is_authenticated%}
    <script src="{% static 'network/javascript/edit.js' %}"></script>
{% endif %}
{% endblock %}