{% extends "network/layout.html" %} {% block body %}
<h1>Profile Page!</h1>
<h4>All of your posts</h4>
{% for post in posts %}
<div class="post_container">
  <div class="post_wrapper">
    <h5>POST No.{{ post.id }}</h5>

    <div class="author_wrapper">
      <a href="{% url 'profile' post.user %}">
        <div>Author: {{ post.user.username }}</div>
      </a>

      {% if post.user.username == user.username %}
      <div class="button_box">
        <button type="submit" class="post_page_btn" name="comment_edit">
          Edit
        </button>
        |
        <button
          type="button"
          id="post_delete"
          class="post_page_btn"
          data-bs-toggle="modal"
          data-bs-target="#post_modal"
        >
          Delete
        </button>
      </div>
      {% endif %}
    </div>
    <div>Date: {{ post.created_time }}</div>
    <div>❤ {{ post.likeCount}}</div>
    <div>Content: {{ post.content }}</div>
  </div>
</div>
{% endfor %} {% endblock %}
